{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		],
		"react",
		"stage-0"
	],
	"env": {
		"development": {
			"plugins": ["react-hot-loader/babel"]
		}
	},
	"plugins": [
		[
			"transform-runtime",
			{
				"helpers": false,
				"polyfill": false,
				"regenerator": true,
				"moduleName": "babel-runtime"
			}
		],
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "es",
				// antd增加了sideEffects功能，如果从lib中引用css打正式包的时候不会打入，需要指定从es文件夹引入css。issue: https://github.com/ant-design/ant-design/pull/10217
				"style": true
			}
		]
	]
}
